@font-face {
  font-family: Dakinizazi;
  src: url(/fonts/Dakinizazi.ttf);
}

html
{
    position: relative;
    min-height: 100%;
}

body
{
    margin: 0 0 80px;
    background-image: url("/img/fondo2.jpg");
}

header, footer{
  font-family: Dakinizazi;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #292b2c;
    color: white;
}

h1 {
   text-align: center;
   font-family: Dakinizazi;
   font-size: 50px;
}

.red {
  color: red;
}

.black {
  color: black;
}

.margen{
  margin-top: 25px;
}

.fondo{
  background-color: white;
}

.centrado{
  justify-content:center;
  text-align: center;
}

.logo{
  font-size: 40px;
}

.menu{
  font-size: 24px;
}

.redes {
	list-style:none;
	margin:0;
	padding:0;
}
.redes li {
	margin:2px;
	padding:2px;
	float:left; //para eliminar el comportamiento de elemento de bloque(salto de linea)
}

.redes2 {
	list-style:none;
	margin:0;
	padding:0;
}
.redes2 li {
	margin:10px;
	padding:10px;
	float:left; //para eliminar el comportamiento de elemento de bloque(salto de linea)
}

.contenedor{
display:table; /* ¡La clave de todo! */
text-align:left;
margin:0 auto;
}

#carrusel{
  
}
